.contact{
    height: 100vh;
    width: 100%;
    
    
    
}
.contacthead{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 30vh;
    
}
.contacttxt1{
    margin-bottom: 1.5rem;
    color:grey;
}
.contacttxt2{
    font-size: 3rem;
    font-weight: bold;
    
}
.contactdetails{
    margin: 0 auto;
    border: 1.5px solid grey;
    width: fit-content;
    padding: 1.5rem;
    display: flex;
    gap: 2rem;
    border-radius: 30px;
    margin-top: 4rem;
}
.contactdetail{
    display: flex;
    gap: 0.5rem;
}
.contactdetail img{
    width: 2rem;
}
.contactdetail a{
    text-decoration: none;
    color: black;

    align-self: center;
}
.contactdetail p{
    font-size: 1.2rem;
    transition: text-decoration 0.5s, color 0.5s; 
}
.contactdetail p:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 10px;
}

